@model YouTubeCOmplete.Models.Employee

@{
    ViewBag.Title = "Employee";
}

<h2>Employee Details</h2>

<table style="font-family:Arial">
    <tr>
        <td>Employee Id</td>
        <td>Employee Name</td>
        <td>Employee Age</td>
        <td>Employee City</td>
    </tr>

</table>

